html, body{
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    background-image: url('images/IMG_0001.jpg'); /* Ensure the correct path */
    background-size: cover; /* Covers the entire viewport */
    background-position: center; /* Centers the background */
    background-repeat: no-repeat; /* Prevents repeating */
    height: 100vh; /* Ensures the body takes the full viewport height */
}

#main-container{
    min-height: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#register-container, #registered-container{
    width: 75%;
    background-color: #ffffff;
}

#register-container{
    height: 150px;
    margin-bottom: 50px;

    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

#registered-container{
    flex-grow: 1;
    margin-top: 50px;

    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

input[type="date"], input[type="time"] {
    width: 125px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

input[type="time"]{
    width: 75px;
}