* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-image: url('images/IMG_0001.jpg');
    background-size: cover; /* Ensures the image covers the entire screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh; /* Ensures the background covers the full viewport height */
    width: 100vw;
}

#main-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: flex-start;  /* Centers vertically */
    height: 100vh; /* Makes sure the container takes the full viewport height */
    padding-top: 50px; /* Moves everything down without increasing total height */  
}

#register-section {
    width: 75vw; /* Set a fixed width */
    height: 150px; /* Set a proper height */
    background-color: #ffffff; /* Slight transparency */
    border: 2px solid black; /* Add a visible border */
    border-radius: 50px; /* Rounded corners */

    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;  /* Centers vertically */
}

#register-items {
    width: 90%; /* Set a fixed width */
    height: 75px; /* Set a proper height */
    background-color: rgba(255, 255, 255, 0.9); /* Slight transparency */
    border-radius: 10px; /* Rounded corners */

    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;  /* Centers vertically */
}

#student-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-items {
    color: #ffffff;
    background-color: #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="date"],
input[type="time"] {
    padding: 5px;
    text-align: center; /* Centers text inside the input */
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

#student-level, #class-type, #number-list, #lesson-topics-a1-a2, #lesson-topics-a2-b1, #lesson-topics-b1-b2, #lesson-topics-b2-c1, #lesson-topics-c1-c2, #teacher-name {
    padding: 5;
    text-align: center; /* Centers text inside the dropdown */
    text-align-last: center; /* Ensures the selected option is centered */
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

#student-level {
    width: 100px;
}

#class-type {
    width: 175px;
}

#number-list {
    width: 100px;
}

#lesson-topics-a1-a2, #lesson-topics-a2-b1, #lesson-topics-b1-b2, #lesson-topics-b2-c1, #lesson-topics-c1-c2 {
    width: 275px;
    text-align: start;
}

#teacher-name {
    width: 125px;
}