@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #FFFFFF, #FFFF00);
}

.login-box{
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    transition: 0.7s ease;
}

.login-box:hover{
    width: 500px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.7s ease;
}

form{
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
}

label{
    margin-top: 10px;
    margin-bottom: 5px;
}

input{
    width: 300px;
    height: 40px;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    padding-left: 15px;
    font-family: Montserrat;
}

input::placeholder{
    color: rgba(0, 0, 0, 0.75);
}

input:hover::placeholder{
    color: rgba(0, 0, 0, 0.15);
    transition: 0.7s ease;
}

@media(max-width: 500px){
    .login-box{
        width: 75vw;
        height: 30vh;
    }

    input{
        width: 50vw;
    }
}
